/* START OF HOMEPAGE*/

		body { 
			font-family: bureau-grot, sans-serif;
			font-weight: 400;
			font-style: normal;
			/*font weight MUST come first or else typeface won't work*/
			}



		blockquote {
			margin: 20px 60px;
			font-family: Helvetica, sans-serif;
		}



		/* ensures that your images stretch the width of their containers */
		/*img { width: 100%; }*/

		a {
			text-decoration: none;
			color: #fff;
			 }
		a:hover { 
			color: #e15e35; 

		}
		.parent {
			display: grid;
			max-width: 100%;
			height: 100vh;
			grid-template-columns: 170px 1fr;
			position: relative;
		}
		.spacer { 

		 }
		.sidenav {
  			position: fixed;
  			top:0;
  			left:0;
			text-transform: uppercase;
			height: 100%;
			background-color: #87d2d4;
			overflow-x: hidden;
			padding-top: 20px;
			text-align: right;
			height: 100vh;
		}
		.sidenav a {
			margin-left: 25px;
			padding: 40px 40px 6px 10px;
			text-decoration: none;
			font-size: 22px;
			color: #fff;
			display: block;
			}
		.sidenav a:hover {
		  	color: #e15e35;
		}
		.sidenav a.active {
			text-decoration: underline;
		}
		.hamburgericon {
			width: 80px;
			padding-bottom: 80px;
		}
	/* START OF MOBILE MENU*/
		.nav, .desktop {
		    display: block;
		    position: fixed;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    z-index: 900;
		}

		.icon {
		    position: fixed;
		    cursor: pointer;
		    top: 5%;
		    right: 40.5vw;
		    width: 40px;
		    height: 45px;
		    transform: translate(-50%, -50%);
		    display: block;
		    z-index: 1000;
		}

		.hamburger {
		    width: 60px;
		    height: 4px;
		    line-height: 70px;
		    background: #fff;
		    border-radius: 5px;
		   	margin: 20px auto auto auto;
		    transform: translate(-50%,-50%);
		    box-shadow: 0 2px 5px rgba(0,0,0,.2);
		    transition: .5s;
		}

		.hamburger:before,
		.hamburger:after {
		    content: '';
		    position: absolute;
		    width: 60px;
		    height: 4px;
		    background: #fff;
		    border-radius: 5px;
		    box-shadow: 0 2px 5px rgba(0,0,0,.2);
		    transition: .5s;
		}

		.hamburger:before {
		    top: -10px;
		}

		.hamburger:after {
		    top: 10px;
		}

		.icon.active .hamburger {
		    background: rgba(0,0,0,0);
		    box-shadow: 0 2px 5px rgba(0,0,0,0);
		}

		.icon.active .hamburger:before {
		    top: 0;
		    transform: rotate(45deg);
		    background: #e15e35;
		}

		.icon.active .hamburger:after {
		    top: 0;
		    transform: rotate(135deg);
		    background: #e15e35;
		}

		.menu-mobile {
		    background-color: #fff;
		    height: 100vh;
		    position: fixed;
		    width: 100%;
		    z-index: 999;
		    padding-top: 150px;
		    font-family: 'bureau-grot', serif;
		    font-weight: 400;
		    text-transform: uppercase;
		    text-align: center;
		}

		.menu-mobile, .menu-mobile a {
		    display: flex;
		    flex-direction: column;
		    justify-content: space-evenly;
		}
		.menu-mobile a {
		    clear: right;
		    text-decoration: none;
		    color: #e15e35;
		    height: 70px;
		    line-height: 70px;
		    font-size: 20px;
		}
		.menu-mobile a:hover {
		    text-decoration: underline;
		}

		.desktop, .menu-desktop, .menu-mobile {
		        display: none;
		}
		hr.menu-mobileseparator {
			border: 1px solid #e15e35;
			width: 60%;
		}
		.mobilehours {
			font-size: 50px;
		}
		h3.mobileshowhours {
			color: #e15e35;
			font-family: museo-slab, serif;
			font-weight: 500;
			font-size: 18px;
			text-transform: capitalize;
			margin-bottom: 5px;
		}
		h4.mobileshowhours {
			color: #e15e35;
			font-family: bureau-grot, serif;
			line-height: 20px;
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	/* END OF MOBILE MENU*/
		.showhours {
		  	color: #fff;
		  	display: none;
		  	margin-top: 20px;
		  	padding-right: 40px;
		}
		.showhours {
			transition: width 2s;
		}
		h3.showhours {
			font-family: museo-slab, serif;
			font-weight: 500;
			font-size: 18px;
			text-transform: capitalize;
		}
		h4.showhours {
			font-family: bureau-grot, serif;
			line-height: 20px;
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
		}
		.parent .sidenav .hoverhourbutton:hover .showhours {
		  	display: block;
		 	
		}
		.homemainpage {
			background-size: cover;
			margin: auto;
			display: inline-block;
		}
		.desktoplogo {
			width: 400px;
			opacity: 0.9;
			margin: auto auto auto auto;
			display: block;
		}
		.mobilelogo{
			height: 325px;
			position: absolute;
			top: 50%;
			margin-top: -150px;
			left: 50%;
			margin-left: -170px;
		}
		.tagline {
			font-family: bureau-grot, serif;
			font-weight: 500;
			font-style: normal;
			font-size: 24px;
			text-transform: uppercase;
			color: #fff;
			margin: 20px auto auto auto;
			text-align: center;
			line-height: 60px;
			background-color: #e15e35;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 25px;
		}
		footer {
			font-family: bureau-grot, serif;
			font-weight: 500;
			font-style: normal;
			font-size: 14px;
			color: #fff;
			position: absolute;
			width: 100%;
		  	bottom: 0;
		  	
		}
/*END OF HOMEPAGE*/
/*START ABOUT PAGE*/
		body.aboutpage{
			background-color: #e15e35;
			background-image: url("../images/testdesktoptriangles.png");
			background-size: cover;
		}
		.subpageheader {
			font-family: bureau-grot, serif;
			font-weight: 500;
			font-style: normal;
			font-size: 36px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
		
			margin: 10vh auto 50px auto;

		}
		.aboutmainpage {
			background-size: cover;
			margin: auto;
			display: inline-block;
		}
		.grid {
			background-color: #fff;
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 50px;
			border-radius: 25px;
			text-align: center;
			max-width: 70%;
			margin: auto auto 80px auto;
		}
		.aboutmainpage .grid {
			grid-gap: 2em;
		}
		.aboutmainpage .grid div {
			padding: 0px;
			/*background-color: cornsilk;*/

		}
		.aboutimage {
			margin: auto;
			max-width: 500px;
			width: 100%;

		}
		.aboutpage .aboutmainpage{
			
		}
		.aboutpage .grid { 
			
		}
		.imagecaption {
			font-family: bureau-grot, serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			color: #e15e35;
			padding-top: 15px;
		}
		.aboutbody {
			font-family: museo-slab, serif;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #565656;
			text-align: left;
		}
		.hyperlink {
			text-decoration: underline;
			color: #565656;
		}
/*END ABOUT PAGE*/

/*START MENU PAGE*/
		.menumainpage {
			background-size: cover;
			margin: auto;
			display: inline-block;
		}
		.menumainpage .grid {
			max-width: 80%;
			column-gap: 1.2em;
		}
		.menumainpage .grid div {
			padding: 0px 0px 5px 0px;
			/*background-color: cornsilk;*/
		}
		.allergenkey{
			color: #e15e35;
			font-family: bureau-grot, serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.grid .allergenkey {
			grid-column: 1/-1;
		}
		.keyinfo{
			color: #565656;
		}
		.keyinfo ul{
			 /*justify moved the items, but only to the left*/
		}
		.keyinfo ul li{
			font-family: museo-slab, serif;
			font-weight: 500;
			font-size: 14px;
			display: inline;
			text-align: justify;
		}
		.keyinfojsutify {
			margin-right: 100px;
			margin-left: 100px;
			display: flex;
    		justify-content: space-between;
		}
		.menusectiontitle {
			color: #e15e35;
			font-family: bureau-grot, serif;
			font-weight: 400;
			font-size: 20px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.foodname {
			color: #565656;
			font-family: museo-slab, serif;
			font-weight: 500;
			font-size: 16px;
			text-align: left;
			text-transform: uppercase;
		}
		.foodname span{
			position: relative;	
		}
		.price {
			text-align: right;
		}
		.foodname .price {
			float:right;
 			
		}
		.fooddescription {
			color: #565656;
			font-family: museo-slab, serif;
			font-weight: 300;
			font-size: 14px;
			text-align: left;
			line-height: 18px;
			margin-bottom: 25px;
		}
/*END MENU PAGE*/

/*START CONTACT PAGE*/
		.contactmainpage {
			background-size: cover;
			margin: auto;
			display: inline-block;
		}
		.contactmainpage .grid{
			max-width: 75%;
			grid-template-columns: 1fr 1fr;
		}
	
		.contacttype {
			color: #e15e35;
			font-family: bureau-grot, serif;
			font-weight: 400;
			font-size: 20px;
			line-height: 60px;
			text-align: left;
			text-transform: uppercase;
			margin-right: 10px;
		}
		.clicklinks{
			text-align: left;
		}
		.clicklinks a:hover{
			color: #565656;
		}
		a.contactlink{
			color: #e15e35;
			font-family: bureau-grot, serif;
			font-weight: 400;
			font-size: 20px;
			line-height: 60px;
			text-align: left;
			
		}
		.updateformtitle{
			color: #565656;
			font-family: bureau-grot, serif;
			font-weight: 100;
			font-size: 20px;
			text-align: center;
			text-transform: uppercase;

		}
		.contactform {
			margin-top: 50px;
			grid-column: 1/-1;
		}
    	form {
  			font-family: museo-slab, serif;
		}

		.maillistcontainer{
		  	padding-bottom: 10px;
		  	grid-column-end: span 2;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  			font-family: bureau-grot, serif;
  			font-weight: 400;
  			font-size: 16px;
  			color: #ccc;
  			opacity: 50%;
  			text-align: center;
		}
		textarea:focus, input:focus {
			font-family: bureau-grot, serif;
  			font-weight: 400;
  			font-size: 16px;
		    color: #565656;
		}

		input, select, textarea{
			font-family: bureau-grot, serif;
  			font-weight: 400;
  			font-size: 16px;
		    color: #87d2d4;
		}
		input[type=text], input[type=submit] {
		  	width: 100%;
		 	padding: 10px;
		  	display: inline-block;
		  	border: 5px solid #e15e35;
		  	border-radius: 5px;
		 	box-sizing: border-box;
		  	background-color: #e15e35;
		}

		input[type=checkbox] {
		  margin-top: 16px;
		}

		input[type=submit] {
		  background-color: #87d2d4;
		  color: white;
		  border: none;
		}

		input[type=submit]:hover {
		  opacity: 0.5;
		}
		.confirmationmainpage .subpageheader {
		  		margin-top: 40vh;
		  		margin-bottom: 10px;
		  	}
		.confirmtext{
			margin: auto;
			text-align: center;
		}
		p.confirmtext {
			font-family: bureau-grot, serif;
			font-weight: 400;
			color: #fff;
		}
/*END CONTACT PAGE*/

/*START GALLERY PAGE*/

		.gallerymainpage {
			background-size: cover;
			margin: auto;
			display: inline-block;
		}
		.gallerymainpage .subpageheader {
			margin-top: 0px;
		}
		.gallerysquare{
			margin: auto;
			max-width: 70vw;
			background-color: #fff;
			border-radius: 25px;
		}
		.slideshow{
			width: 650px;
			height: 600px;
			margin: auto;
			outline: none;
		}
		.slides_container {
			border: 35px solid white;
			border-radius: 25px;
		}
		.square1_caption{
			font-family: bureau-grot, serif;
			font-weight: 400;
			text-transform: uppercase;
			color: #e15e35;
			font-size: 16px;
			bottom: 10px;
		}
		.dots_nav-hover .square1_caption {
			bottom: -60px;
		}
/*END GALLERY PAGE*/

/*Mobile Media Query*/
		@media only screen and (max-width: 768px) {
			.parent {
				display: inline; 
			}
			.sidenav{
				display: none;
			}
			.homemainpage {
				width: 100%;
			}
			.aboutmainpage {
				width: 100%;
			}
			.menumainpage {
				width: 100%;
			}

			.desktoplogo{
				display: none;
			}
			body.homepage {
				background-color: #e15e35;
				background-image: url("../images/testmobiletriangles.png");
				background-size: cover;
			}
			ul.mobilelinks {
				padding-top: 10px;
				margin: auto;
			}
			ul.mobilelinks li {
				display: inline;
			}
			.mobilephoneicon {
				max-height: 50px;
				margin-left: 5px; 				/*this isnt moving the icon like it does for the location icon*/
			}
			.mobilephoneicon:hover{
				background: #87d2d4;
				border-radius: 5px;
			}
			.mobilehamburgerdropdown{
				width: 80px;
				position: absolute;
				margin: auto;
				justify-content: center;
			}
			.mobilelocationicon{
				max-height: 40px;
				position: absolute;
				right: 10px;
				padding-top: 5px;
			}
			.mobilelocationicon:hover{
				background: #87d2d4;
				border-radius: 5px;
				padding: 5px 10px 5px 10px;
			}
			.tagline{
				text-align: center;
				max-width: 400px;
				line-height: 30px;
				margin: 65vh auto auto auto;
				background: none;
			}
			footer{
				text-align: center;
			}
			  	/*START ABOUT PAGE*/
		  	.subpageheader{
		  		margin-top: 5vh;
		  		margin-bottom: 20px;
		  	}
		  	.grid{
		  		display: inline-block;
		  		width: 90%;
		  		margin: auto;
		  	}
	/*END ABOUT PAGE*/

	/*START MENU PAGE*/
	/*END MENU PAGE*/

	/*START CONTACT PAGE*/
			 .slideshow{
			 	width: 415px;
			 	height: 350px;
			}
			.contacttype{
				font-size: 16px;
			}	
			a.contactlink{ 
				font-size: 16px;
			}
			p.updateformtitle{
				font-size: 16px;
			}		
	/*END CONTACT PAGE*/

	/*START GALLERY PAGE*/
			.gallerymainpage .subpageheader {
				margin-top: 5vh;
				margin-bottom: 20px;
			}
	/*END GALLERY PAGE*/
		}
/*Larger than Mobile*/
		@media only screen and (min-width: 768px) {
			.mobilelinks{
				display: none;
			}
			.mobilelogo{
				display: none;
			}
			body.homepage{
				background-image: url("../images/testdesktopbackground.jpg");
				background-size: cover;
		  	}
		  	.icon {
		  		display: none;
		  	}

		}
/*Desktop*/
		@media only screen and (max-width: 1160px) {
			.grid { 
				display: block;
			}
			.contactmainpage .grid { 
				display: grid;
				
			}
			.gallerymainpage{ 
				display: block;
			 }
			
		}

		@media only screen and (max-width: 1024px) {
			.keyinfojsutify {
			margin-right: 0px;
			margin-left: 0px;
			display: block;
			text-align: center;
			}
			.keyinfo ul li{
				display: grid;
				text-align: center;
			}

		}
		@media only screen and (min-width: 1024px) {
			
		}
/*Desktop Wide*/
		@media only screen and (max-width: 1280px) {
			.keyinfojsutify {
			margin-right: 0px;
			margin-left: 0px;
			
    		justify-content: space-between;
			}
		}


/*	TO-DO

-ADD ANIMATION TO HOMEPAGE LOGO?
-PLACE LOCATION LINKS ON DESKTOP VERSIONS SOMEWHERE?
-MAKE A TALLER BACKGROUND FOR THE MENUPAGE?

*/


